
{% extends "base.html" %}

{% block head_title %}Add Restaurant | {{ block.super}}{% endblock head_title %}

{% block content %}
<h1>Add Restaurant</h1>

{% if form.errors %}
{{ form.errors }}
{% endif %}
<form method='POST'> {% csrf_token %}
    {{ form.as_p }}
    <button type='submit'>Save</button>
</form>

{% endblock %}


<!-- <input type='text' name='name' placeholder="Your Title" required=required><br/>
    <input type='text' name='location' placeholder="Location"><br/>
    <input type='text' name='category' placeholder="Cateogry"><br/> -->































<!-- {% extends "base.html" %}

{% block head_title %}Add Restaurants | {{ block.super}}{% endblock head_title %}

{% block content %}
<h1>Add Favourite Restaurants</h1>
{% if errors %}

   {{ errors}}
{% endif %}
<form method= 'POST'> {% csrf_token %}

    <input type = 'text' name='name' placeholder='Your name'>
    <input type = 'text' name='Location' placeholder='Location'>
    <input type = 'text' name='Category' placeholder='Category'>
    {{ form.as_p }}
    <button type='submit'>Save</button>
    
</form>

{% endblock %} -->