{% extends "base.html" %}

{% block head_title %}{{ user.username }} | {{ block.super}}{% endblock head_title %}

{% block content %}
<h1>{{ user.username }}</h1>
<form class = 'form' method = 'GET' action='.'>
    <input type='text' placeholder="Search..." name = 'q' value='{{ request.GET.q }} '>
    <button class = 'btn btn-default' type="submit">Search<button>
</form>
<hr/>
{% if user.item_set.all.exists %}
{% if locations %}
{% for rest in locations %}
    <li>{{ rest.title }} | {{ rest.category }} | {{ rest.location }}
        <ul>
            {% for item in rest.item_set.all %}
                <li>{{ item.name }}<br/>

                    {% for ing in item.get_contents %}
                    {{ ing }}

                    {% endfor %}

                </li>
            {% endfor %}

        </ul>    

    </li>
{% endif %}
{% endif %}
{% endfor %}


{% endblock %}