{% extends "base.html" %}

{% block head_title %}Welcome || {{ block.super }}{% endblock head_title %}
{% block content %}


<h1>HELLO!</h1>
<h1>{{ block.super }}</h1>
<p>
    this is <code> {% verbatim %}{{ html_var }}{% endverbatim %} </code> coming through
</p>

<p>
{% if num is not None  %} 
    Random num is  {{ num }}
{% endif %}
</p>

<p>
{% for some_item in some_list %}
    {% if some_item|divisibleby:"2" %}
            Even number
    {% endif  %}
    {{ some_item }} </br>

{% endfor %}
</p>

<p>
 some item is {{ some_item }}
</p>

{% endblock content %}